.formContainer {
  background-color: rgba(var(--foreground-rgb), 0.03);
  border: 1px solid rgba(var(--foreground-rgb), 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.securityTokenContainer {
  position: relative;
}

.generateButton {
  position: absolute;
  right: 0.5rem;
  top: 2.375rem;
}

.divider {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 1rem;
  color: rgba(var(--foreground-rgb), 0.6);
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}

.divider::before {
  margin-right: 0.5rem;
}

.divider::after {
  margin-left: 0.5rem;
}

.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .checkboxGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}